<div>
    <app-charts-search [displayParamsMap]="chartSearchParamsMap" (searchChanges)="search($event)"></app-charts-search>
</div>
<div class="total">
    <span><b>Total:</b> {{totalAmount | currency}}</span>
</div>
<div class="chart" *ngIf="chartLabels.length > 0">
    <canvas baseChart 
            height="300"
            width="300"
            [legend]="true"
            [data]="chartData"
            [options]="chartOptions"
            [labels]="chartLabels"
            [chartType]="chartType">
    </canvas>
</div>   
