<div [ngClass]="isEditable(expense)? 'form-style': ''">
    <div class="success" *ngIf="form.pristine && isSubmited">Expense successfully updated.</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group row">
            <div class="col-6">
                <label>Date:</label>&nbsp;<label *ngIf="!isEditable(expense)">{{expense.date}}</label>
                <input *ngIf="isEditable(expense)" type="text" mask="M0/d0/0000" [leadZeroDateTime]="true" [dropSpecialCharacters]="false" formControlName="date" class="form-control" />
                <div *ngIf="f.date.errors && (f.date.dirty || f.date.touched)">
                    <div class="error" *ngIf="f.date.errors.required">Date is required</div>
                    <div class="error" *ngIf="f.date.errors && !f.date.errors.required">Format: MM/DD/YYYY</div>
                </div>
            </div>
            <div class="col-6">
                <label>Category:</label>&nbsp;<label *ngIf="!isEditable(expense)">{{expense.category}}</label>
                <select *ngIf="isEditable(expense)" formControlName="category" class="form-control" (change)="selectCategory(f.category.value)"> 
                    <option value="">Select</option>
                    <option *ngFor="let c of categories | keyvalue" [value]="c.key">{{c.key}}</option>
                </select>
                <div *ngIf="f.category.errors && (f.category.dirty || f.category.touched)">
                    <div class="error" *ngIf="f.category.errors.required">Category is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label>Amount:</label>&nbsp;<label *ngIf="!isEditable(expense)">{{expense.amount | currency}}</label>
                <input *ngIf="isEditable(expense)" type="text" mask="separator.2" thousandSeparator="," formControlName="amount" class="form-control" />
                <div *ngIf="f.amount.errors && (f.amount.dirty || f.amount.touched)">
                    <div class="error" *ngIf="f.amount.errors.required">Amount is required</div>
                </div>
            </div>
            <div class="col-6">
                <label>Proportion:</label>&nbsp;<label *ngIf="!isEditable(expense)">{{expense.proportion}}%</label>
                <input *ngIf="isEditable(expense)" type="text" mask="percent" suffix="%" formControlName="proportion" class="form-control" />
                <div *ngIf="f.proportion.errors && (f.proportion.dirty || f.proportion.touched)">
                    <div class="error" *ngIf="f.proportion.errors.required">Proportion is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label>Charged to: <i>{{expense.chargedUser}}</i></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label>Charged by: <i>{{expense.receiverUser}}</i></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label>Status: <b>{{expense.status}}</b></label>
            </div>
        </div>

        <div class="button-section" *ngIf="isEditable(expense)">
            <input type="submit" [disabled]="form.invalid" name="submit" value="Save" />
        </div>
    </form>
</div>