  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="User Image"
      [src]="user.photoUrl"
    />
    <span>Welcome {{user.name}}</span>
      <div class="spacer"></div>
      <div>
        <a href="#" routerLink="/login" routerLinkActive="active" (click)="$event.preventDefault()">Logout</a>
      </div>
  </div>
  
  <!-- Main -->
  <div class="content" role="main">
    <div class="balance">
        <p *ngIf="balance > 0">Receive from <i>{{getUsernameFromEmail(chargedUser)}}</i>: <b>{{balance | currency}}</b></p>
        <p *ngIf="balance < 0">Transfer to <i>{{getUsernameFromEmail(chargedUser)}}</i>: <b>{{-balance | currency}}</b></p>
    </div>

   
    <div class="card-container">

      <div [ngClass]="cardClassList[expensesTab.tabIndex]" tabindex="0" #expensesTab routerLink="/dashboard/expenses-manager" routerLinkActive="active" (click)="setCardClass(expensesTab.tabIndex)">
        <i class="material-icons text-info">attach_money</i>
        <span>Expenses</span>
      </div>

      <div [ngClass]="cardClassList[paymentsTab.tabIndex]" tabindex="1" #paymentsTab routerLink="/dashboard/payments-manager" routerLinkActive="active" (click)="setCardClass(paymentsTab.tabIndex)">
        <i class="material-icons text-info">payment</i>
        <span>Payments</span>
      </div>
      
    
      <div [ngClass]="cardClassList[reportsTab.tabIndex]" tabindex="2" #reportsTab routerLink="/dashboard/report-expenses" routerLinkActive="active" (click)="setCardClass(reportsTab.tabIndex)">
        <i class="material-icons text-info">bar_chart</i>
        <span>Reports</span>
      </div>
    
    </div>
  
    <router-outlet></router-outlet>
    
    <!-- Footer -->
    <footer>
        Love&nbsp;
        <img
         width="15"
         alt="User Image"
         src="../../../favicon.ico"
       />&nbsp;Splitter?
       &nbsp;
        <a href="https://github.com/ericknilsen/splitter" target="_blank" rel="noopener"> Give our repo a star.
          <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
            Star
          </div>
        </a>
        <a href="https://github.com/ericknilsen/splitter" target="_blank" rel="noopener">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
    </footer>
  </div>


  
  