<div class="search">
    <form [formGroup]="form">  
        <div class="form-group" *ngIf="displayParamsMap.get('user')">
            <div class="col-12">
                <label>User</label>
                <select formControlName="user" class="form-control" (change)="selectParams()"> 
                    <option value="">Select</option>
                    <option *ngFor="let u of users" [value]="u">{{u}}</option>
                </select>
            </div>
        </div> 
        <div class="form-group" *ngIf="displayParamsMap.get('dateInterval')">
            <div class="col-12">
                <label>Date Interval</label>
                <app-datepicker-range-popup [defaultDateInterval]="getDefaultDateInterval(0)" (dateIntervalSelected)="setDateInterval($event)"></app-datepicker-range-popup>
            </div>
        </div> 
        <div class="form-group" *ngIf="displayParamsMap.get('compareDateInterval')">
            <div class="col-12">
                <label>Compare To</label>
                <app-datepicker-range-popup [defaultDateInterval]="getDefaultDateInterval(1)" (dateIntervalSelected)="setCompareDateInterval($event)"></app-datepicker-range-popup>
            </div>
        </div> 
    </form>
</div>