<table class="table list-style">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let e of expenses; let i = index">
    <tr>
      <td><a href="#" (click)="$event.preventDefault();displayExpenseDetails(i)">{{e.description}}</a></td>
      <td *ngIf="!isDisplayedList[i]">{{e.amount}}</td>
      <td *ngIf="!isDisplayedList[i]">{{e.date}}</td>
      <td *ngIf="!isDisplayedList[i]">{{e.status}}</td>
      <td colspan="3" *ngIf="isDisplayedList[i]"></td>
    </tr>
    <tr>
      <td colspan="4" *ngIf="isDisplayedList[i]">
        <app-expense-detail [expense]="e"></app-expense-detail>
      </td>
    </tr>
  </tbody>
</table>
