<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table formArrayName="pendingExpensesFormArray" class="table list-style">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let e of pendingExpenses; let i = index">
            <tr>
                <td><a href="#" (click)="$event.preventDefault();displayExpenseDetails(i)">{{e.description}}</a></td>
                <td>{{e.amount | currency}}</td>
                <td [formGroupName]="i">
                    <select formControlName="action" class="form-control-sm">
                        <option value="">Select</option>
                        <option *ngFor="let a of actionsList" [value]="actionStatusMap.get(a)">{{a}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4" *ngIf="isDisplayedList[i]">
                  <app-expense-detail [expense]="e"></app-expense-detail>
                </td>
              </tr>
        </tbody>
    </table>
    <div class="button-section">
        <input type="submit" [disabled]="form.invalid" name="submit" value="Send" />
    </div>
</form>