<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#" #categoriesChartLink routerLink="/dashboard/charts-manager/category-chart" routerLinkActive="active">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#" routerLink="/dashboard/charts-manager/users-chart" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#" routerLink="/dashboard/charts-manager/time-chart" routerLinkActive="active">Time</a>
    </li>
</ul>
<div class="chart">
  <router-outlet></router-outlet>
</div>

