<div class="form-style" *ngIf="displayPendingExpensesForm()">
    <div class="section-warning">Before adding new expenses, please review the following charges</div>
    <app-approve-expense (submited)="listPendingExpenses()" [pendingExpenses]="pendingExpenses"></app-approve-expense>
</div>

<div class="form-style" *ngIf="displayPendingPaymentsForm()">
    <div class="section-warning">Before adding new expenses, please review the following payments</div>
    <app-approve-payment (submited)="listPendingPayments()" [pendingPayments]="pendingPayments"></app-approve-payment>
</div>

<div class="form-style" *ngIf="!hideAddExpenseForm()">
    <div class="success" *ngIf="form.pristine && isSubmited">Expense successfully created.</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="section">New Expense</div>
        <div class="form-group row">
            <div class="col">
                <label>Description:</label>
                <input type="text" maxlength="20" formControlName="description" class="form-control" />
                <div *ngIf="f.description.errors && (f.description.dirty || f.description.touched)">
                    <div class="error" *ngIf="f.description.errors.required">Description is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-7">
                <label>Date:</label>
                <div class="input-group">
                    <input class="form-control" readonly type="text" formControlName="date" ngbDatepicker #date="ngbDatepicker">
                    
                    <div class="input-group-append">
                      <button class="btn btn-outline-info material-icons" (click)="date.toggle()" type="button">
                        calendar_today
                      </button>
                    </div>
                </div>
                <div *ngIf="f.date.errors && (f.date.dirty || f.date.touched)">
                    <div class="error" *ngIf="f.date.errors">Date is required</div>
                </div>
            </div>
            <div class="col-5">
                <label>Amount:</label>
                <input type="text" maxlength="10" mask="separator.2" thousandSeparator="," formControlName="amount" class="form-control" />
                <div *ngIf="f.amount.errors && (f.amount.dirty || f.amount.touched)">
                    <div class="error" *ngIf="f.amount.errors.required">Amount is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-7">
                <label>Category:</label>
                <select formControlName="category" class="form-control" (change)="selectCategory(f.category.value)"> 
                    <option value="">Select</option>
                    <option *ngFor="let c of categories | keyvalue" [value]="c.key">{{c.key}}</option>
                </select>
                <div *ngIf="f.category.errors && (f.category.dirty || f.category.touched)">
                    <div class="error" *ngIf="f.category.errors.required">Category is required</div>
                </div>
            </div>
            <div class="col-5">
                <label>Proportion:</label>
                <input type="text" mask="percent" suffix="%" formControlName="proportion" class="form-control" />
                <div *ngIf="f.proportion.errors && (f.proportion.dirty || f.proportion.touched)">
                    <div class="error" *ngIf="f.proportion.errors.required">Proportion is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label>Charge to</label>
                <select formControlName="chargedUser" class="form-control"> 
                    <option value="">Select</option>
                    <option *ngFor="let u of groupUsers" [value]="u">{{u}}</option>
                </select>
                <div *ngIf="f.chargedUser.errors && (f.chargedUser.dirty || f.chargedUser.touched)">
                    <div class="error" *ngIf="f.chargedUser.errors.required">Charged user is required</div>
                </div>
            </div>
        </div>

        <div class="button-section">
            <input type="submit" [disabled]="form.invalid" name="submit" value="Send" />
        </div>
    </form>
</div>