<div class="search">
    <app-search-expenses (searchChanges)="searchPayments($event)"></app-search-expenses>
</div>

<div class="table-responsive-sm">
    <table class="table list-style">
        <thead>
            <tr>
                <th scope="col">Paid to</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let p of payments; let i = index">
            <tr>
                <td>{{getUsernameFromEmail(p.paidUser)}}</td>
                <td>{{p.amount | currency}}</td>
                <td>{{p.date | date: 'mediumDate': offset}}</td>
                <td *ngIf="isEditable(p)">
                    <a href="#" title="Delete payment" class="text-danger"
                        (click)="$event.preventDefault();deletePayment(p)">
                        <i class="material-icons">delete_outline</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="payments && payments.length > 0">
    <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="paymentsSize" [boundaryLinks]="true">
    </ngb-pagination>
</div>
<div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>